<h2>Template</h2>
<hr />

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let item of itemsTemplate"
    [routerLink]="[item.route]"
    routerLinkActive="active"
  >
    {{ item.title }}
  </li>
</ul>

<h2 class="mt-3">Reactive</h2>
<hr />

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let item of itemsReactive"
    [routerLink]="[item.route]"
    routerLinkActive="active"
  >
    {{ item.title }}
  </li>
</ul>

<h2 class="mt-3">Auth</h2>
<hr />

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let item of itemsAuth"
    [routerLink]="[item.route]"
    routerLinkActive="active"
  >
    {{ item.title }}
  </li>
</ul>
